.menu{
    display: flex;
    flex-direction: column;
    background-color: #0f0f0f;
    max-height: 100vh;
    width: fit-content;
    padding: 5px 10px;
    padding-right: 15px;
}
.loading-line{
    position: absolute;
    width: 0;
    height: 2px;
    background: crimson;
    top: 0;
    transition: width 2s ease;
}
.single-category{
    display: flex;
    align-items: center;
    gap: 15px;
}
.single-category svg{
    height: 30px;
    width: 30px;
}
.single-category h2{
    font-size: 2rem;
}
/* .homepage-svg, .sport-svg{
    fill: crimson;
}
.movie-svg{
    
}*/
.fashion-svg{
    fill: white;
}
.beauty-svg{
    fill: none;
    stroke: white;
} 
.live-img{
    height: 30px;
    width: 30px;
    filter: invert(100%) sepia(0%) saturate(0%) brightness(100%) contrast(100%);
}

