.homepage{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: space-between;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 1;
    min-width: 0;
    background-color: #0f0f0f;
    column-gap: 5px;
    row-gap: 50px;
}