.channel-icon{
    width: 380px;
    border-radius: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: center;
}
.channel-icon-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    color: white;
}
.channel-icon-content h3{
    font-size: 1.6rem;
}
.channel-icon img{
    height: 200px;
    object-fit: cover;
    border-radius: 200px;
}
