.channel-video{
    width: 380px;
    border-radius: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.channel-video-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    color: white;
}
.channel-video-content h1{
    font-size: 1.9rem;
}
.channel-video-content h2{
    font-size: 1.7rem;
    color: rgb(171, 171, 171);
}
.channel-video-content h3{
    font-size: 1.5rem;
    color: rgb(171, 171, 171);
    margin-top: -6px;
}