.basicintput{
    font-size: 2rem;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 10px;
    border: 2px solid #818181;
}
.search-bar-input{
    background-color: #0f0f0f;
    width: 500px;
    padding: 10px;
    padding-left: 15px;
    caret-color: white;
    color: white;
}
.search-bar-input:focus{
    outline: none;
    border: 2px solid rgb(25, 118, 210);
}